.main-container{
    background-color: rgba(0, 0, 0, 0.312);
    width: 90vw;
    height: 50vh;
    display: flexbox;
    justify-content:center;

    
}

body {
    display: flex;
    justify-content: center;
}